body {
	margin: 0 0 0 0;
	padding: 0 0 0 0;
}

.side {
	height: 100%;
	width: 50%;
}

.banner {
	
	img {
		display: block;
		zoom: 40%;
		margin-bottom: -8%;
	}

	input {
		position: absolute;
		display: block;
		border: 0px solid black;
		border-radius: 0;
		background-color: white;
		margin-left: -2px;
		margin-right: -2px;
		height: 50px;
		width: 300px;
		font-family: "HelveticaNeue-CondensedBlack";
		font-size: 28pt;
		box-shadow: 0px 1px 5px 0px rgba(50, 50, 50, 0.75);
		-webkit-appearance: none;
	    -moz-appearance: none;
	    appearance: none;
	    font-weight: bold;
	    padding-left: 10px;
	    padding-right: 10px;
	    overflow: none;
	}

	.correct {
		background-color: green;
		color: white;
	}

	.wrong {
		background-color: red;
		color: white;
	}
}

.banner.bottom {
	position: absolute;
	bottom: 20%;
}

.side.right {
	background-image:  url("../img/backgroundA4_lighter.jpg"), url("../img/middle_east_map_lebanon-01.png");
	background-blend-mode: multiply;
	background-size: 100% 100%, auto auto;
	background-position: 0% 0%, center 70%;
	float: right;

	.banner {
		right: 0px;
		float: right;
		text-align: right;

		img {
			right: 0px;
		}

		input {
			right: 0px;
			transform: rotate(4deg);
			text-align: right;
		}
	}
}

.side.left {
	background-image:  url("../img/backgroundA4.jpg"), url("../img/europe_map_austria-01.png");
	background-blend-mode: multiply;
	background-size: 100% 100%, auto auto;
	background-position: 0% 0%, center 70%;
	float: left;

	.banner {
		left: 0px;
		float: left;
		text-align: left;
		img {
			left: 0px;
		}

		input {
			left: 0px;
			transform: rotate(-4deg);
			text-align: left;
		}
	}
}

.border {
	position: absolute;
	pointer-events: none;
	width: 100%;
	text-align: center;
	height: 100%;
 	img {
 		height: 100%;
 	}
}